.login-container {
    padding-top: 96rpx;
    flex-direction: column;
    height: 100vh;
    background-color: #ffffff;
}
.auth-container {
  flex-direction: column;
}

.auth-text {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

.auth-container {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

.logo {
    width: 120px; /* 增大尺寸 */
    height: 120px; /* 增大尺寸 */
}

.arrow {
    width: 80px; /* 减小尺寸 */
    height: 80px; /* 减小尺寸 */
    margin: 0 16px; /* 调整间距以居中 */
}

.login-btn {
    background-color: #1aad19;
    color: white;
    text-align: center;
    line-height: 38px;
    border-radius: 5px;
    position: absolute; /* 绝对定位 */
    left: 50%; /* 水平居中 */
    transform: translateX(-50%); /* 水平居中 */
    bottom: 128rpx; /* 底部对齐 */
}